/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/users/20240313164709ec3250f9c401d035f27dd856434fa3.jpg
/public/users
/public/agencies
/public/uploads
/public/admin
server.js
